.jdl-cam {
  text-align: center;
}
.text-vision {
  text-align: center;
}

.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-img {
  width: 200px; /* Set the width according to your design */
  color: black;
}

.preview-img {
  flex: 1;
  margin-right: 20px; /* Adjust margin according to your design */
}

.btn-deteksi {
  margin-top: 10px; /* Adjust margin according to your design */
  margin-right: 10px;
}

.prediction {
  flex: 1;
}

.result {
  margin-top: 10px; /* Adjust margin according to your design */
}

/* Additional styling for better appearance */
.center {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.preview-img img {
  width: 100%;
  height: auto;
  border-radius: 5px; /* Optional: Add border-radius for a rounded image */
}

/* @media only screen and (min-width: 1080px) {
    .center {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  } */